<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>LoginPage</h1>
<form method="post" action="/login">
    <strong> Id : <input type="text" placeholder="please put your id" name="id"></strong><br>
    <strong> Password : <input type="password" placeholder="please put password" name="pwd"></strong>
    <br>
    <button type="submit">Login</button>
</form>
<br>
<a href="/oauth2/authorization/github">Git Hub</a>
<br>
<a href="/logout">
    <strong>Logout</strong>
</a>
<br>
<a href="/">
    <strong>Home</strong>
</a>
</body>
</html>