<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Membership</title>
</head>
<body>
<h1>회원가입</h1>
<form method="post" action="/membership">
    <strong>
        Id:<input type="text" name="id" required>
    </strong>
    <br>
    <strong>
        Pwd:<input type="text" name="pwd" required>
    </strong>
    <br>
    <strong>
        Email:<input type="email" name="email" required>
    </strong>
    <br>
    <strong>
        Name:<input type="text" name="name" required>
    </strong>
    <br>
    <button type="submit">Membership</button>
</form>

<a href="index.html">Home</a>

</body>
</html>